---
layout: default
help: true
---

<header class="bg-white pb-6 box-shadow">
  <div class="content-lg  text-center">
    <h1 class="h00-mktg text-gray-dark">
      {{ site.description }}
    </h1>
    <p class="lead text-gray-dark">
      {{ site.long_description }}
    </p>
    {% include start.html %}
  </div>
</header>

<main class="marketing">
  <section class="mt-5 text-center content-lg">

    {% for highlight in site.highlights %}
    <div class="clearfix mt-5 container-lg">
      <div class="p-3 float-left col-md-7 col-sm-12">
        <div class="Box border mb-3 box-shadow-large" style="height: 250px; overflow-y: hidden;">
          <img src="{{highlight.image}}" width="100%">
        </div>
      </div>
      <div class="p-3 d-flex float-left col-md-5 col-sm-12">
        <div class="flex-self-center">
          <h3 class="h2-mktg">{{highlight.title}}</h3>
          <p>
            {{highlight.description}}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>

  <section class="content mt-5 text-center">
    <h2 class="h2-mktg">Integrates with any service</h2>
    <p>
      Using GitHub actions or the power of GitHub events, integrate with a wide
      group of deployment options.
    </p>

    <div class="d-flex flex-justify-center flex-wrap">
      <div class="text-center p-3">
        <img src="/assets/images/k8s.svg" width="64px" height="64px">
        <h4 class="h4-mktg">Kubernetes</h4>
      </div>
      <div class="text-center p-3">
        <img src="/assets/images/github.svg" width="64px" height="64px">
        <h4 class="h4-mktg">GitHub Actions</h4>
      </div>
      <div class="text-center p-3">
        <img src="/assets/images/firebase.svg" width="64px" height="64px">
        <h4 class="h4-mktg">Firebase</h4>
      </div>
      <div class="text-center p-3">
        <img src="/assets/images/aws.svg" width="64px" height="64px">
        <h4 class="h4-mktg">AWS</h4>
      </div>
    </div>

    {% include start.html %}

  </section>
</main>
