<footer class="mt-8 pb-5 pt-5 bg-gray-dark">
  <div class="d-flex flex-wrap flex-justify-center text-mono text-gray-light" style="font-size: 0.9em;">
    <div class="p-3">
      <ul class="list-style-none">
        <li><a class="text-gray-light" href="/integrations/">Integrations</a></li>
        <li><a class="text-gray-light" href="/solutions/github-auto-deploy/">Auto deploy</a></li>
        <li><a class="text-gray-light" href="/solutions/kubernetes-deploy/">Kubernetes</a></li>
        <li><a class="text-gray-light" href="/solutions/slack-deploy/">ChatOps</a></li>
      </ul>
    </div>

    <div class="p-3">
      <ul class="list-style-none">
        <li><a class="text-gray-light" href="{{site.deliverybot_url}}">Login</a></li>
        <li><a class="text-gray-light" href="{{site.start_url}}">Signup</a></li>
        <li><a class="text-gray-light" href="{{site.spectrum_url}}">Community</a></li>
        <li><a class="text-gray-light" href="/status/">Status</a></li>
      </ul>
    </div>

    <div class="p-3">
      <ul class="list-style-none">
        <li><a class="text-gray-light" href="/docs/">Docs</a></li>
        <li><a class="text-gray-light" href="{{site.pricing_url}}">Pricing</a></li>
        <li><a class="text-gray-light" href="/blog/">Blog</a></li>
        <li><a class="text-gray-light" href="{{site.github_org_url}}">GitHub</a></li>
      </ul>
    </div>

    <div class="p-3 text-gray-light">
      <ul class="list-style-none">
        <li>
          Created by <a target="_blank" class="text-gray-light" href="{{site.twitter_url}}">@deliverybot</a>
        </li>
        <li><a class="text-gray-light" href="mailto:{{site.support_email}}">{{site.support_email}}</a></li>
      </ul>

      <ul class="mt-3 list-style-none" style="font-size: 0.9em;">
        <li>
          <a class="text-gray-light" href="{{site.terms_url}}">Terms</a> |
          <a class="text-gray-light" href="{{site.privacy_url}}">Privacy</a>
        </li>
        <li class="text-gray-light text-sm">Copyright © 2019 Deliverybot</li>
      </ul>
    </div>
  </div>
</footer>
