---
layout: landing
title: Deploy from GitHub
help: true
---

<main class="marketing">
  <section class="mt-5 text-center content">
    <img src="/assets/images/integrations/github.svg" width="64px" height="64px">
    <h1 class="h1-mktg">Automatically deploy your code from GitHub</h1>
    <p>
      Don't setup server hooks or complex workflows, use modern tools like
      actions and GitHub webhooks to deploy your code. Deliverybot relies on
      the GitHub deployments API to ship your code wherever you need it.
    </p>
  </section>

  {% include highlights.html kind="auto" %}
  {% include start.html %}
</main>
