---
layout: landing
title: Continuous Delivery for Kubernetes
description: Continuous Delivery for Kubernetes
long_description: Deploy your code to Kubernetes using GitHub API's. Automatic deployments, PR deployments and more. Powered by open source.
help: true
---

<main class="marketing">
  <section class="mt-5 text-center content">
    <img src="/assets/images/integrations/k8s.svg" width="64px" height="64px">
    <h1 class="h1-mktg">Succeed with your Kubernetes deployments</h1>
    <p>
      Kubernetes deployments are complex. Setting up the correct pipeline is
      time consuming and if you get it wrong can seriously impact the success of
      your development team.
    </p>
  </section>

  {% include highlights.html kind="kubernetes" %}
  {% include start.html %}
</main>
