---
layout: landing
title: Slack Friendly Continuous Delivery
description: Slack Friendly Continuous Delivery
help: true
---

<main class="marketing">
  <section class="mt-5 text-center content">
    <img src="/assets/images/integrations/slack.svg" width="96px" height="96px">
    <h1 class="h1-mktg">Integrate your team with ChatOps</h1>
    <p>
      Keep everyone in the loop with ChatOps. With Slack and GitHub connected
      Deliverybot let's your team stay inside of it's two most important
      workspaces.
    </p>
  </section>

  {% include highlights.html kind="slack" %}
  {% include start.html %}
</main>
