<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="/assets/main.css">
  <link rel="stylesheet" href="/assets/primer.css">
  <link rel="stylesheet" href="/assets/rouge.css">
</head>

<body class="height-full bg-gray-light">
  <nav class="box-shadow navbar">
    <a href="/"><h3>{{site.title}}</h3></a>
  </nav>
  {{ content }}

  <footer style="height: 200px;">
  </footer>
</body>
</html>
